# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/.idea/.gitignore
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/runConfigurations/runClient.xml
/.idea/runConfigurations/runData.xml
/.idea/runConfigurations/runGameTestServer.xml
/.idea/runConfigurations/runServer.xml
/.idea/.name
/run/saves/New World (1)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
/run/saves/New World (1)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
/run/saves/New World (1)/advancements/380df991-f603-344c-a090-369bad2a924a.json
/run/saves/New World (1)/stats/380df991-f603-344c-a090-369bad2a924a.json
/run/logs/2025-03-28-2.log.gz
/run/logs/2025-03-28-3.log.gz
/run/logs/2025-03-28-4.log.gz
/run/logs/2025-03-28-5.log.gz
/run/logs/2025-03-28-6.log.gz
/run/logs/2025-03-28-7.log.gz
/run/logs/2025-03-28-8.log.gz
/src/main/resources/assets/modhorror/models/item/bloody_sapphire.json
/src/main/resources/assets/modhorror/textures/item/bloody_sapphire.png
/run/saves/New World (1)/data/capabilities.dat
/run/saves/New World (1)/DIM1/data/capabilities.dat
/run/saves/New World (1)/DIM-1/data/capabilities.dat
/.idea/compiler.xml
/run/logs/debug-2.log.gz
/run/logs/debug-3.log.gz
/run/logs/debug-4.log.gz
/run/logs/debug-5.log.gz
/run/saves/New World (1)/serverconfig/forge-server.toml
/.idea/gradle.xml
/run/saves/New World (1)/icon.png
/.idea/jarRepositories.xml
/run/saves/New World (1)/level.dat
/run/saves/New World (1)/level.dat_old
/.idea/misc.xml
/.idea/modules/modhorror.main.iml
/.idea/modules/modhorror.test.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/run/saves/New World (1)/entities/r.0.0.mca
/run/saves/New World (1)/poi/r.0.0.mca
/run/saves/New World (1)/region/r.0.0.mca
/run/saves/New World (1)/entities/r.0.-1.mca
/run/saves/New World (1)/poi/r.0.-1.mca
/run/saves/New World (1)/region/r.0.-1.mca
/run/saves/New World (1)/poi/r.1.0.mca
/run/saves/New World (1)/region/r.1.0.mca
/run/saves/New World (1)/region/r.1.-1.mca
/run/saves/New World (1)/entities/r.-1.0.mca
/run/saves/New World (1)/poi/r.-1.0.mca
/run/saves/New World (1)/region/r.-1.0.mca
/run/saves/New World (1)/entities/r.-1.-1.mca
/run/saves/New World (1)/poi/r.-1.-1.mca
/run/saves/New World (1)/region/r.-1.-1.mca
/run/saves/New World (1)/data/raids.dat
/run/saves/New World (1)/DIM-1/data/raids.dat
/run/saves/New World (1)/DIM1/data/raids_end.dat
/run/saves/New World (1)/data/random_sequences.dat
/run/saves/New World (1)/session.lock
/.idea/vcs.xml
